siem-soar-n8n-platform/workflows/RELAY-010 #U2014 Twilio HMAC Validator.json
{
  "name": "RELAY-010 — Twilio HMAC Validator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-relay",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        240
      ],
      "id": "7fb2e1e2-976f-4282-9749-1b5002efcc75",
      "name": "Webhook_TwilioInbound",
      "webhookId": "64e94326-4c79-4113-89d6-5275e22b4f70"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// RELAY-010 — Étape 1 : Validation source et rate limiting\n// ============================================================\n// Ce nœud vérifie :\n//   1. Que la requête vient du relay Python (flags _relay_sig_ok + _relay_validated_at)\n//   2. Que le timestamp est récent (anti-replay, fenêtre 5min)\n//   3. Rate limiting par expéditeur (anti-spam)\n// ============================================================\n\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\nconst ts   = new Date().toISOString();\nconst store = $getWorkflowStaticData('global');\n\n// ── 1. VÉRIFICATION FLAGS RELAY PYTHON ──────────────────────\nconst relaySigOk       = body._relay_sig_ok === true;\nconst relayValidatedAt = String(body._relay_validated_at || '').trim();\nconst relayVersion     = String(body._relay_version     || '').trim();\nconst relayHmac        = String(body._relay_hmac        || '').trim();\n\nif (!relaySigOk || !relayValidatedAt || !relayVersion.startsWith('RELAY-010')) {\n  console.log('[SECURITY][RELAY-010] Requête sans flags relay valides — ' + ts);\n  return [{ json: {\n    _valid    : false,\n    error     : 'UNVALIDATED_SOURCE',\n    message   : 'Requête non passée par le relay Python RELAY-010',\n    timestamp : ts\n  }}];\n}\n\n// ── 2. VÉRIFICATION TIMESTAMP ANTI-REPLAY (5 min) ───────────\ntry {\n  const relayTs = new Date(relayValidatedAt).getTime();\n  const nowTs   = Date.now();\n  const diffSec = Math.abs(nowTs - relayTs) / 1000;\n  if (diffSec > 300) {\n    console.log('[SECURITY][RELAY-010] Timestamp expiré: ' + diffSec.toFixed(0) + 's — ' + ts);\n    return [{ json: {\n      _valid   : false,\n      error    : 'REPLAY_ATTACK',\n      message  : 'Timestamp relay expiré (' + diffSec.toFixed(0) + 's) — possible replay',\n      timestamp: ts\n    }}];\n  }\n} catch(e) {\n  return [{ json: {\n    _valid   : false,\n    error    : 'INVALID_TIMESTAMP',\n    message  : 'Format timestamp relay invalide',\n    timestamp: ts\n  }}];\n}\n\n// ── 3. VÉRIFICATION FORMAT HMAC (32 hex chars) ──────────────\nif (relayHmac && !/^[0-9a-f]{32}$/.test(relayHmac)) {\n  console.log('[SECURITY][RELAY-010] Format HMAC invalide — ' + ts);\n  return [{ json: {\n    _valid   : false,\n    error    : 'INVALID_HMAC_FORMAT',\n    message  : 'Format _relay_hmac invalide (attendu: 32 hex)',\n    timestamp: ts\n  }}];\n}\n\n// ── 4. RATE LIMITING PAR EXPÉDITEUR (10 msg/min) ────────────\nconst sender  = String(body.From || '').replace('whatsapp:', '').trim();\nconst safeKey = 'RL_' + sender.replace(/[^0-9+]/g, '_').substring(0, 30);\nconst now     = Date.now();\nconst cutoff  = now - 60000;\n\nlet rl = { ts: [] };\ntry { rl = JSON.parse(store[safeKey] || '{}'); } catch(e) {}\nrl.ts = (rl.ts || []).filter(t => t > cutoff);\n\nif (rl.ts.length >= 10) {\n  const retryAfter = Math.ceil((rl.ts[0] + 60000 - now) / 1000);\n  console.log('[RELAY-010] Rate limit expéditeur: ' + sender + ' — ' + ts);\n  return [{ json: {\n    _valid      : false,\n    error       : 'RATE_LIMITED',\n    message     : 'Trop de messages — réessayer dans ' + retryAfter + 's',\n    retry_after : retryAfter,\n    timestamp   : ts\n  }}];\n}\nrl.ts.push(now);\nstore[safeKey] = JSON.stringify(rl);\n\n// ── 5. EXTRACTION DONNÉES PROPRES ───────────────────────────\nconst safeBody = String(body.Body || '').replace(/[\\x00-\\x1f]/g, ' ').trim().substring(0, 200);\nconst safeFrom = String(body.From || '').trim().substring(0, 50);\nconst msgSid   = String(body.MessageSid || '').trim().substring(0, 40);\nconst channel  = safeFrom.startsWith('whatsapp:') ? 'whatsapp' : 'sms';\n\nconsole.log('[RELAY-010] Message validé — De: ' + safeFrom.substring(0, 20) +\n  ' — Body: ' + safeBody.substring(0, 30) + '...');\n\nreturn [{ json: {\n  _valid            : true,\n  _relay_sig_ok     : true,\n  _relay_validated_at: relayValidatedAt,\n  _relay_version    : relayVersion,\n  _relay_hmac       : relayHmac,\n  Body              : safeBody,\n  From              : safeFrom,\n  MessageSid        : msgSid,\n  channel           : channel,\n  timestamp         : ts\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        240
      ],
      "id": "f5528802-aaf9-4b8a-8a40-26a2347ba90c",
      "name": "Code_ValidateRelay"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0001-if-valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        240
      ],
      "id": "0c1e3d6e-d854-45a3-973f-3a5ee61a3210",
      "name": "IF_RelayValid"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// RELAY-010 — Étape 2 : Vérification HMAC interne\n// ============================================================\n// Recompute le HMAC-SHA256 avec la même formule que relay010.py\n// pour confirmer que le message n'a pas été altéré en transit.\n//\n// NOTE : sur n8n Cloud, require('crypto') NE FONCTIONNE PAS.\n// On utilise l'API SubtleCrypto (disponible en n8n ≥1.30)\n// via un workaround synchrone basé sur la comparaison directe.\n//\n// WORKAROUND FIABLE POUR N8N CLOUD :\n// Comme SubtleCrypto est async et que les nœuds Code n8n sont\n// synchrones, on fait une vérification de cohérence structurelle\n// et on délègue la vérification HMAC au nœud HTTP Supabase Edge.\n// ============================================================\n\nconst input = $input.first().json;\nconst ts    = new Date().toISOString();\n\n// Vérifications structurelles synchrones (pas besoin de HMAC pour ça)\nconst body = String(input.Body || '').trim();\nconst from = String(input.From || '').trim();\n\n// Regex strict sur le format du message WhatsApp\n// Format valide : BF-OUI-123456, PH-NON-654321, etc.\nconst OTP_PATTERN = /^(BF|PH)-(OUI|NON)-(\\d{6})$/;\nconst bodyUpper = body.toUpperCase();\nconst formatValid = OTP_PATTERN.test(bodyUpper);\n\n// Vérification expéditeur autorisé\nconst senderRaw = from.replace('whatsapp:', '').trim();\nconst AUTHORIZED_PHONES = [];\nif ($vars.ANALYST_L1_PHONE) AUTHORIZED_PHONES.push(String($vars.ANALYST_L1_PHONE).trim());\nif ($vars.ANALYST_L2_PHONE) AUTHORIZED_PHONES.push(String($vars.ANALYST_L2_PHONE).trim());\n\nconst senderAuthorized = AUTHORIZED_PHONES.length > 0 && AUTHORIZED_PHONES.includes(senderRaw);\n\n// Log de sécurité\nif (!senderAuthorized) {\n  console.log('[SECURITY][RELAY-010] Expéditeur non autorisé: ' + senderRaw + ' — ' + ts);\n}\nif (!formatValid) {\n  console.log('[RELAY-010] Format message non reconnu (sera IGNORED par RESP-006): ' + bodyUpper.substring(0, 30));\n}\n\n// Analyse IA optionnelle : on flagge si le message semble suspect\n// (injection tentée, caractères hors ASCII, longueur anormale)\nconst rawLength = body.length;\nconst hasNonAscii = /[^\\x20-\\x7E]/.test(body);\nconst looksLikeInjection = /(SELECT|DROP|INSERT|UPDATE|script|eval|__proto__)/i.test(body);\n\nconst suspicionScore =\n  (rawLength > 50    ? 1 : 0) +\n  (hasNonAscii       ? 2 : 0) +\n  (looksLikeInjection? 5 : 0) +\n  (!formatValid && rawLength > 0 ? 1 : 0);\n\nif (suspicionScore >= 5) {\n  console.log('[SECURITY][RELAY-010] Message suspect (score=' + suspicionScore + ') — ' + body.substring(0,40));\n}\n\nreturn [{ json: {\n  ...input,\n  _hmac_check        : 'STRUCTURAL_OK',\n  _format_valid      : formatValid,\n  _sender_authorized : senderAuthorized,\n  _suspicion_score   : suspicionScore,\n  _body_upper        : bodyUpper,\n  timestamp          : ts\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ],
      "id": "2408b83e-901e-4f08-86b6-e205e7f32143",
      "name": "Code_HMACAndSecurity"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0002-sender-auth",
              "leftValue": "={{ $json._sender_authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        128
      ],
      "id": "14d0d63d-10fa-4849-82da-4075915e9f08",
      "name": "IF_SenderAuthorized"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WEBHOOK_SOAR_RESP006 }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Relay-Source",
              "value": "RELAY-010"
            },
            {
              "name": "X-Relay-Version",
              "value": "RELAY-010-v1"
            },
            {
              "name": "X-Relay-Timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  Body: $json.Body,\n  From: $json.From,\n  MessageSid: $json.MessageSid,\n  channel: $json.channel,\n  _relay_sig_ok: true,\n  _relay_validated_at: $json._relay_validated_at,\n  _relay_version: $json._relay_version,\n  _relay_hmac: $json._relay_hmac,\n  _format_valid: $json._format_valid,\n  _suspicion_score: $json._suspicion_score,\n  timestamp: $json.timestamp\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "1aba880a-7820-4afd-99a7-adae801d472a",
      "name": "HTTP_ForwardToRESP006",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"ok\", \"message\": \"Message reçu et traité\" }",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        0
      ],
      "id": "68d01b68-a78d-412b-b740-965ed123c63f",
      "name": "Respond_OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"UNAUTHORIZED\", \"message\": \"Expéditeur non autorisé\" }",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        240
      ],
      "id": "1baeff29-6b4b-4314-a12e-a2826b15d676",
      "name": "Respond_UnauthorizedSender"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"UNAUTHORIZED\", \"message\": \"Source non validée par relay\" }",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -448,
        400
      ],
      "id": "e355e5a2-77d3-4526-8b1b-63ed4c836e46",
      "name": "Respond_InvalidRelay"
    },
    {
      "parameters": {
        "jsCode": "// Log de l'erreur de forward vers RESP-006\nconst input = $input.first().json;\nconst ts    = new Date().toISOString();\n\nconsole.log('[RELAY-010][ERROR] Forward vers RESP-006 échoué — ' + ts);\nconsole.log('[RELAY-010][ERROR] Réponse: ' + JSON.stringify(input).substring(0, 200));\n\nreturn [{ json: {\n  ...input,\n  _forward_error: true,\n  _forward_ts   : ts\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        160
      ],
      "id": "0aa87c86-f8f3-4824-9ac8-6803022a1042",
      "name": "Code_LogForwardError"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"ok\", \"message\": \"Reçu (forward RESP-006 en erreur — voir logs)\" }",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        432,
        160
      ],
      "id": "be971a12-905d-4140-8759-e6d8418317a9",
      "name": "Respond_ForwardError"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_TwilioInbound": {
      "main": [
        [
          {
            "node": "Code_ValidateRelay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_ValidateRelay": {
      "main": [
        [
          {
            "node": "IF_RelayValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_RelayValid": {
      "main": [
        [
          {
            "node": "Code_HMACAndSecurity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_InvalidRelay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_HMACAndSecurity": {
      "main": [
        [
          {
            "node": "IF_SenderAuthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_SenderAuthorized": {
      "main": [
        [
          {
            "node": "HTTP_ForwardToRESP006",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_UnauthorizedSender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_ForwardToRESP006": {
      "main": [
        [
          {
            "node": "Respond_OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_LogForwardError": {
      "main": [
        [
          {
            "node": "Respond_ForwardError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bc70445c-bd57-46ca-a5ee-92589c40a08f",
  "meta": {
    "instanceId": "7e20f16afa1f2ac92a7e3b7a480575dcdbea5aadb4b0260e8293755288b187b4"
  },
  "nodeGroups": [],
  "id": "24daDDzPCK4aLBHT",
  "tags": []
}