workflows/REPORT-005_Metrics_Dashboard.json
{
  "name": "REPORT-005_Metrics_Dashboard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        96
      ],
      "id": "fb2686c7-9f34-47d7-ac3e-4dc72fb977a6",
      "name": "DashboardRequest",
      "webhookId": "3d4d3606-1f8d-4869-8bcb-8c6d714913d8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM vw_soc_dashboard;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "adefeb33-18fb-4882-ba80-fe77edf1229b",
      "name": "DB_QueryDashboard",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iZHEGrelNifD5lLX",
          "name": "Postgres_SOC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// REPORT-005 — Code_FormatMetrics — VERSION FINALE\nconst data = $input.first().json;\nconst ts   = new Date();\n\nconst MTTD         = parseFloat(data.avg_mttd_minutes  || 0);\nconst MTTR         = parseFloat(data.avg_mttr_minutes  || 0);\nconst total        = parseInt(data.total_incidents     || 0);\nconst open_count   = parseInt(data.open_incidents      || 0);\nconst closed_count = parseInt(data.closed_incidents    || 0);\nconst p0_count     = parseInt(data.p0_count            || 0);\nconst p1_count     = parseInt(data.p1_count            || 0);\nconst p2_count     = parseInt(data.p2_count            || 0);\nconst auto_count   = parseInt(data.auto_resolved       || 0);\nconst human_count  = parseInt(data.human_escalated     || 0);\nconst sla_breached = parseInt(data.sla_breached_count  || 0);\n\nconst sla_ok_pct = total > 0 ? Math.round(((total - sla_breached) / total) * 100) : 100;\nconst auto_rate  = total > 0 ? Math.round((auto_count / total) * 100) : 0;\n\nconst MITRE_BY_TYPE = {\n  'brute_force'    : 'T1110 — Brute Force',\n  'phishing'       : 'T1566 — Phishing',\n  'data_exfil'     : 'T1041 — Exfiltration Over C2',\n  'port_scan'      : 'T1046 — Network Service Discovery',\n  'priv_escalation': 'T1068 — Exploitation for Privilege Escalation'\n};\nconst topMitre = data.top_mitre_tech || MITRE_BY_TYPE[data.top_attack_type] || 'T1110 — Brute Force';\n\nlet maturityLevel = 'INDÉTERMINÉ';\nif (MTTR > 0) {\n  if (MTTR < 15)      maturityLevel = 'ELITE (< 15 min MTTR)';\n  else if (MTTR < 30) maturityLevel = 'MATURE (< 30 min MTTR)';\n  else if (MTTR < 60) maturityLevel = 'EN PROGRESSION (< 60 min MTTR)';\n  else                maturityLevel = 'INITIAL (> 60 min MTTR)';\n}\n\n// ── SECURITY POSTURE (ajout final) ────────────────────────\nlet security_posture = 'GREEN';\nlet posture_reason   = 'Aucune anomalie détectée';\nif (p0_count > 0) {\n  security_posture = 'RED';\n  posture_reason   = p0_count + ' incident(s) P0 actif(s)';\n} else if (sla_ok_pct < 80 || MTTR > 60 || open_count > 10) {\n  security_posture = 'AMBER';\n  posture_reason   = 'SLA compliance: ' + sla_ok_pct + '% | MTTR: ' + MTTR + 'min | Open: ' + open_count;\n} else if (p1_count > 3) {\n  security_posture = 'AMBER';\n  posture_reason   = p1_count + ' incidents P1 en cours';\n}\n\n// ── RECOMMANDATION ─────────────────────────────────────────\nlet recommendation = 'Données insuffisantes — lancer une simulation';\nif (total > 0) {\n  if (p0_count > 0)         recommendation = 'CRITIQUE: ' + p0_count + ' incident(s) P0 actif(s) — intervention immédiate';\n  else if (MTTD > 10)       recommendation = 'MTTD élevé (' + MTTD + ' min) — affiner les règles de corrélation AFD';\n  else if (MTTR > 60)       recommendation = 'MTTR élevé (' + MTTR + ' min) — automatiser davantage la réponse L1';\n  else if (auto_rate < 50)  recommendation = 'Taux automation faible (' + auto_rate + '%) — revoir les playbooks SOAR';\n  else if (sla_ok_pct < 80) recommendation = 'SLA compliance faible (' + sla_ok_pct + '%) — réviser les seuils SLA';\n  else                      recommendation = 'Performance nominale — maintenir les seuils SLA actuels';\n}\n\nreturn [{ json: {\n  report_generated : ts.toISOString(),\n  report_period    : 'Dernières 24h',\n  soc_tier         : 'SOC L1 Automatisé — ENSAM Casablanca',\n  data_source      : 'Supabase PostgreSQL — vw_soc_dashboard',\n  security_posture,\n  posture_reason,\n  MTTD_minutes     : MTTD,\n  MTTR_minutes     : MTTR,\n  incidents_total  : total,\n  incidents_open   : open_count,\n  incidents_closed : closed_count,\n  incidents_p0     : p0_count,\n  incidents_p1     : p1_count,\n  incidents_p2     : p2_count,\n  auto_resolved    : auto_count,\n  human_escalated  : human_count,\n  automation_rate  : auto_rate + '%',\n  sla_compliance   : sla_ok_pct + '%',\n  sla_breached     : sla_breached,\n  top_source_ip    : data.top_source_ip   || 'N/A',\n  top_attack_type  : data.top_attack_type || 'N/A',\n  top_mitre_tech   : topMitre,\n  maturity_level   : maturityLevel,\n  recommendation\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "8d70b105-515e-4e71-99e8-0e9f272befde",
      "name": "Code_FormatMetrics"
    },
    {
      "parameters": {
        "jsCode": "// REPORT-005 — Code_AuthToken — VERSION CORRIGÉE CLOUD\nconst raw = $input.first().json;\nconst ts  = new Date().toISOString();\n\nconst receivedToken = String(\n  (raw.headers && raw.headers['x-soc-token']) ||\n  (raw.headers && raw.headers['X-Soc-Token']) ||\n  raw['x-soc-token'] ||\n  raw.soc_token      ||\n  (raw.body && raw.body['x-soc-token']) ||\n  (raw.body && raw.body.soc_token) || ''\n).trim();\n\nconst SOC_TOKEN = String($vars.REPORT_TOKEN || '').trim();\n\nif (!receivedToken) {\n  return [{ json: { error: 'UNAUTHORIZED',\n    message: 'Token manquant', _auth_failed: true, timestamp: ts } }];\n}\nif (!SOC_TOKEN) {\n  return [{ json: { error: 'MISCONFIGURATION',\n    message: 'REPORT_TOKEN non configuré', _auth_failed: true, timestamp: ts } }];\n}\nif (receivedToken !== SOC_TOKEN) {\n  console.log('[SECURITY][REPORT-005] Token invalide — ' + ts);\n  return [{ json: { error: 'UNAUTHORIZED',\n    message: 'Token invalide', _auth_failed: true, timestamp: ts } }];\n}\n\nreturn [{ json: { _auth_ok: true, timestamp: ts } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ],
      "id": "d8c403a1-94ff-4330-a693-ec28bc13e352",
      "name": "Code_AuthToken"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "49a3640b-5ec2-4e91-be11-a4b69e359710",
              "leftValue": "={{ $json._auth_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "07837f3d-02c4-4b54-9d48-d3096dba599b",
      "name": "IF_AuthOk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"UNAUTHORIZED\", \"message\": \"Token invalide ou manquant\", \"status\": 401 }",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        192
      ],
      "id": "08b82ddc-a8c9-4702-a775-09d9f979355c",
      "name": "Respond_Unauthorized"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        0
      ],
      "id": "8a090498-6675-4d01-baca-ffccbc591a52",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "DashboardRequest": {
      "main": [
        [
          {
            "node": "Code_AuthToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_QueryDashboard": {
      "main": [
        [
          {
            "node": "Code_FormatMetrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_AuthToken": {
      "main": [
        [
          {
            "node": "IF_AuthOk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_AuthOk": {
      "main": [
        [
          {
            "node": "DB_QueryDashboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond_Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_FormatMetrics": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "34a55914-dbd1-4910-8d3a-5fef25fb6a5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e20f16afa1f2ac92a7e3b7a480575dcdbea5aadb4b0260e8293755288b187b4"
  },
  "nodeGroups": [],
  "id": "LUkMMGgSVIQ27hQX",
  "tags": []
}
