workflows/SIEM-001_BruteForce_Detector.json
{
  "name": "SIEM-001_BruteForce_Detector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "siem-logs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        96
      ],
      "id": "7bd43a61-026c-400b-b42a-2b2f3ee1148c",
      "name": "Log_Ingestion",
      "webhookId": "34996648-ee23-4e45-a350-87f39d51befd"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SIEM-001 — Détecteur Brute Force AFD\n// VERSION CORRIGÉE FINALE — headers token fix\n// ============================================================\n\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\nconst now  = Date.now();\nconst ts   = new Date().toISOString();\n\n// ── TOKEN — lecture headers HTTP EN PRIORITÉ ──────────────\nconst receivedToken = String(\n  (raw.headers && raw.headers['x-soc-token']) ||\n  (raw.headers && raw.headers['X-Soc-Token']) ||\n  raw['x-soc-token']  ||\n  raw.soc_token       ||\n  body['x-soc-token'] ||\n  body.soc_token      || ''\n).trim();\n\nconst SOC_TOKEN = String($vars.SIEM_TOKEN || '').trim();\n\nif (!receivedToken) {\n  return [{ json: { error: 'UNAUTHORIZED',\n    message: 'Token manquant', timestamp: ts } }];\n}\nif (!SOC_TOKEN) {\n  return [{ json: { error: 'MISCONFIGURATION',\n    message: 'Variable SIEM_TOKEN non configurée dans n8n Settings',\n    timestamp: ts } }];\n}\nif (receivedToken !== SOC_TOKEN) {\n  console.log('[SECURITY][SIEM-001] Token invalide — ' + ts);\n  return [{ json: { error: 'UNAUTHORIZED',\n    message: 'Token SOC invalide — SIEM-001', timestamp: ts } }];\n}\n\n// ── HELPERS ────────────────────────────────────────────────\nfunction sanitizeForLog(val) {\n  return String(val).replace(/[|\\n\\r\\t]/g, '_').substring(0, 100);\n}\n\nfunction normalizeIP(raw_ip) {\n  const s = String(raw_ip || '').trim().toLowerCase();\n  if (s.startsWith('::ffff:')) return s.slice(7);\n  if (/^(\\d{1,3}\\.){3}\\d{1,3}$/.test(s)) {\n    const octets = s.split('.').map(Number);\n    if (octets.some(o => isNaN(o) || o < 0 || o > 255)) return null;\n    return octets.join('.');\n  }\n  if (/^[0-9a-f:]{3,39}$/.test(s)) return s;\n  return null;\n}\n\nfunction getMitreEnriched(type, context) {\n  const TACTIC_MAP = {\n    auth_fail      : 'Credential Access',\n    port_scan      : 'Discovery',\n    priv_escalation: 'Privilege Escalation',\n    phishing       : 'Initial Access',\n    data_exfil     : 'Exfiltration'\n  };\n  const MITRE_DB = {\n    auth_fail: [\n      { sub: 'T1110.003', name: 'Password Spraying',\n        condition: c => c.multi_user === true },\n      { sub: 'T1110.004', name: 'Credential Stuffing',\n        condition: c => (c.fail_count || 0) >= 10 },\n      { sub: 'T1110.001', name: 'Password Guessing',\n        condition: () => true },\n    ],\n    phishing: [\n      { sub: 'T1566.001', name: 'Spearphishing Attachment',\n        condition: c => c.has_attachment === true },\n      { sub: 'T1566.002', name: 'Spearphishing Link',\n        condition: c => c.has_link === true },\n      { sub: 'T1566', name: 'Phishing', condition: () => true },\n    ],\n    port_scan:       [{ sub: 'T1046', name: 'Network Service Discovery', condition: () => true }],\n    priv_escalation: [{ sub: 'T1068', name: 'Exploitation for Priv Esc', condition: () => true }],\n    data_exfil: [\n      { sub: 'T1048', name: 'Exfil Over Alt Protocol',\n        condition: c => ['dns','icmp','ftp'].includes(c.protocol) },\n      { sub: 'T1041', name: 'Exfil Over C2 Channel', condition: () => true },\n    ]\n  };\n  const tactic     = TACTIC_MAP[type] || 'Unknown';\n  const candidates = MITRE_DB[type]   || [];\n  const match      = candidates.find(c => c.condition(context));\n  return {\n    tactic,\n    technique: match ? match.sub  : 'T0000',\n    name     : match ? match.name : type\n  };\n}\n\n// ── VALIDATION INPUTS ──────────────────────────────────────\nconst type = String(body.type || 'unknown').toLowerCase().trim();\nconst user = String(body.user || 'unknown').trim();\nconst ip   = normalizeIP(body.ip || body.source_ip || '');\n\nif (!ip) {\n  return [{ json: { error: 'INVALID_IP',\n    message: 'Format IP invalide: ' + sanitizeForLog(String(body.ip || '')),\n    timestamp: ts } }];\n}\n\nconst VALID_TYPES = [\n  'auth_fail','port_scan','priv_escalation','phishing','data_exfil','resolved','reset'\n];\nif (!VALID_TYPES.includes(type)) {\n  return [{ json: { error: 'INVALID_TYPE',\n    received: sanitizeForLog(type), timestamp: ts } }];\n}\n\n// ── SLIDING WINDOW RATE-LIMITING ───────────────────────────\nconst store  = $getWorkflowStaticData('global');\nconst safeIP = ip.replace(/[.:]/g, '_');\nconst rlKey  = 'RL_' + safeIP;\nlet rl = { timestamps: [] };\ntry { rl = JSON.parse(store[rlKey] || '{}'); } catch(e) {}\n\nconst WINDOW_MS = 60000;\nconst MAX_REQS  = 60;\nconst cutoff    = now - WINDOW_MS;\nrl.timestamps   = (rl.timestamps || []).filter(t => t > cutoff);\n\nif (rl.timestamps.length >= MAX_REQS) {\n  const retryAfter = Math.ceil((rl.timestamps[0] + WINDOW_MS - now) / 1000);\n  return [{ json: { error: 'RATE_LIMITED', ip,\n    message: 'Limite ' + MAX_REQS + ' req/min atteinte',\n    retry_after: retryAfter + 's', timestamp: ts } }];\n}\nrl.timestamps.push(now);\nstore[rlKey] = JSON.stringify(rl);\n\n// ── FSM DEPUIS SUPABASE ────────────────────────────────────\nconst dbRow = $('DB_LoadFSM').first()?.json;\nlet fsm = null;\nif (dbRow && dbRow.state) {\n  const age = now - new Date(dbRow.last_seen).getTime();\n  if (age < 600000) {\n    fsm = {\n      state    : dbRow.state,\n      counter  : dbRow.counter,\n      sessionId: dbRow.session_id,\n      alertSent: dbRow.alert_sent,\n      lastTs   : new Date(dbRow.last_seen).getTime()\n    };\n  }\n}\nif (!fsm) {\n  fsm = {\n    state    : 'q0',\n    counter  : 0,\n    lastTs   : now,\n    sessionId: 'SESS_' + now,\n    alertSent: false\n  };\n}\n\n// ── SEVERITY MAP ───────────────────────────────────────────\nconst SEVERITY_MAP = {\n  q0: { level: 'INFO',     score: 0,   priority: 'P4' },\n  q1: { level: 'LOW',      score: 25,  priority: 'P3' },\n  q2: { level: 'MEDIUM',   score: 50,  priority: 'P2' },\n  q3: { level: 'HIGH',     score: 75,  priority: 'P1' },\n  q4: { level: 'CRITICAL', score: 100, priority: 'P0' }\n};\n\n// ── RESET ──────────────────────────────────────────────────\nif (type === 'resolved' || type === 'reset') {\n  return [{ json: {\n    session_id     : fsm.sessionId,\n    ip, source_ip  : ip,\n    event_type     : type,\n    state_after    : 'q0',\n    alerte         : false,\n    alert_triggered: false,\n    message        : 'FSM reset pour IP ' + sanitizeForLog(ip),\n    timestamp      : ts,\n    incident_type  : 'brute_force',\n    _fsm_reset     : true\n  }}];\n}\n\nconst stateBefore = fsm.state;\n\n// ── TABLE FSM ──────────────────────────────────────────────\nconst FSM_TABLE = {\n  q0: {\n    auth_fail: () => { fsm.counter++; return fsm.counter >= 3 ? 'q1' : 'q0'; }\n  },\n  q1: {\n    auth_fail      : () => { fsm.counter = Math.min(fsm.counter + 1, 9999); return 'q1'; },\n    port_scan      : () => 'q2',\n    priv_escalation: () => 'q3',\n    phishing       : () => 'q3',\n    data_exfil     : () => 'q3',\n    timeout        : () => { fsm.counter = 0; return 'q0'; }\n  },\n  q2: {\n    priv_escalation: () => 'q3',\n    data_exfil     : () => 'q3',\n    phishing       : () => 'q3',\n    timeout        : () => { fsm.counter = 0; return 'q0'; }\n  },\n  q3: {\n    data_exfil     : () => { fsm.alertSent = false; return 'q4'; },\n    priv_escalation: () => 'q4',\n    timeout        : () => { fsm.counter = 0; fsm.alertSent = false; return 'q0'; },\n    resolved       : () => { fsm.counter = 0; fsm.alertSent = false; return 'q0'; }\n  },\n  q4: {\n    data_exfil     : () => { fsm.alertSent = false; return 'q4'; },\n    priv_escalation: () => { fsm.alertSent = false; return 'q4'; },\n    auth_fail      : () => 'q4',\n    timeout        : () => { fsm.counter = 0; fsm.alertSent = false; return 'q0'; },\n    resolved       : () => { fsm.counter = 0; fsm.alertSent = false; return 'q0'; }\n  }\n};\n\nlet stateAfter = fsm.state;\nif (FSM_TABLE[fsm.state]?.[type]) {\n  stateAfter = FSM_TABLE[fsm.state][type]();\n}\nfsm.state = stateAfter;\n\nlet shouldAlert = false;\nif ((stateAfter === 'q3' || stateAfter === 'q4') && !fsm.alertSent) {\n  shouldAlert   = true;\n  fsm.alertSent = true;\n}\nif (stateAfter !== 'q3' && stateAfter !== 'q4') fsm.alertSent = false;\nfsm.lastTs = now;\n\n// ── MITRE + SEVERITY ───────────────────────────────────────\nconst mitreContext = {\n  fail_count    : fsm.counter,\n  multi_user    : body.multi_user     || false,\n  has_attachment: body.has_attachment || false,\n  has_link      : body.has_link       || false,\n  protocol      : body.protocol       || 'unknown'\n};\nconst mitre    = getMitreEnriched(type, mitreContext);\nconst severity = SEVERITY_MAP[stateAfter] || SEVERITY_MAP.q0;\n\nreturn [{ json: {\n  session_id     : fsm.sessionId,\n  ip,\n  source_ip      : ip,\n  user           : sanitizeForLog(user),\n  username       : sanitizeForLog(user),\n  event_type     : type,\n  timestamp      : ts,\n  state_before   : stateBefore,\n  state_after    : stateAfter,\n  etat_apres     : stateAfter,\n  auth_fail_count: fsm.counter,\n  alert_sent     : fsm.alertSent,\n  mitre_tactic   : mitre.tactic,\n  mitre_tech     : mitre.technique,\n  mitre_name     : mitre.name,\n  severity       : severity.level,\n  severity_score : severity.score,\n  priority       : severity.priority,\n  alerte         : shouldAlert,\n  alert_triggered: shouldAlert,\n  incident_type  : 'brute_force'\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        96
      ],
      "id": "cc819904-c9a5-49b6-aa79-96b096561d0a",
      "name": "Code_FSM_Detection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a378002e-ff43-4d4c-9d05-d56cae8f3b9c",
              "leftValue": "={{ $json.alerte }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        192
      ],
      "id": "f50c51d3-49a4-47da-bcf4-5219a7c3e5f0",
      "name": "IIF_AlerteRequise"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rani26.app.n8n.cloud/webhook/soar-dispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-soc-token",
              "value": "={{ $vars.SOC_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "incident_type",
              "value": "={{ $json.incident_type }}"
            },
            {
              "name": "ip",
              "value": "={{ $json.source_ip }}"
            },
            {
              "name": "etat_siem",
              "value": "={{ $json.state_after }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "severity",
              "value": "={{ $json.severity }}"
            },
            {
              "name": "severity_score",
              "value": "={{ $json.severity_score }}"
            },
            {
              "name": "mitre_tech",
              "value": "={{ $json.mitre_tech }}"
            },
            {
              "name": "mitre_name",
              "value": "={{ $json.mitre_name }}"
            },
            {
              "name": "mitre_tactic",
              "value": "={{ $json.mitre_tactic }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "user",
              "value": "={{ $json.user }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        96
      ],
      "id": "2c642cb4-46cf-43e6-a527-e2cdc34b4401",
      "name": "HTTP_ForwardToORCH"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        288
      ],
      "id": "53decf6d-d93e-4c92-9370-070441eca745",
      "name": "NoOp_PasDAlerte"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.fsm_sessions (ip, state, counter, session_id, alert_sent, last_seen)\nVALUES ($1, 'q0', 0, 'SESS-INIT', FALSE, NOW())\nON CONFLICT (ip) DO UPDATE SET last_seen = public.fsm_sessions.last_seen\nRETURNING ip, state, counter, session_id, alert_sent, last_seen;",
        "options": {
          "queryReplacement": "=$1 = {{ $json.body.ip || $json.ip || '0.0.0.0' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        96
      ],
      "id": "369ad88f-5743-4e52-bb74-3c6173e40de0",
      "name": "DB_LoadFSM",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iZHEGrelNifD5lLX",
          "name": "Postgres_SOC"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.fsm_sessions (ip, state, counter, session_id, alert_sent, last_seen)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  NOW()\n)\nON CONFLICT (ip) DO UPDATE SET\n  state      = EXCLUDED.state,\n  counter    = EXCLUDED.counter,\n  session_id = EXCLUDED.session_id,\n  alert_sent = EXCLUDED.alert_sent,\n  last_seen  = NOW();",
        "options": {
          "queryReplacement": "=$1={{ $json.source_ip }} , $2={{ $json.state_after }} ,\n$3={{ $json.auth_fail_count }} , $4={{ $json.session_id }} , $5={{ $json.alert_triggered }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        192
      ],
      "id": "993033df-d6d8-4724-b410-195f37b90f2a",
      "name": "DB_SaveFSM",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iZHEGrelNifD5lLX",
          "name": "Postgres_SOC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9836b6a8-0c54-4593-bf9a-30038e673b31",
              "leftValue": "={{ $json._fsm_reset }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "807a0397-e2bf-48e2-a0fb-ddc8883c7e09",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM fsm_sessions\nWHERE ip = '{{ $json.body.ip || $json.ip || '0.0.0.0' }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        0
      ],
      "id": "62b5b821-970b-468c-8d08-b595c5b72d80",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iZHEGrelNifD5lLX",
          "name": "Postgres_SOC"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.incidents\nSET\n  first_alert_at = COALESCE(first_alert_at, NOW()),\n  etat_siem      = LEFT('{{ $json.state_after }}', 5),\n  mitre_tech     = COALESCE(mitre_tech, NULLIF('{{ $json.mitre_tech }}', '')),\n  mitre_name     = COALESCE(mitre_name, NULLIF('{{ $json.mitre_name }}', '')),\n  updated_at     = NOW()\nWHERE incident_id = (\n  SELECT incident_id\n  FROM public.incidents\n  WHERE source_ip = '{{ $json.source_ip }}'\n    AND status NOT IN ('CLOSED', 'ESCALATED')\n  ORDER BY created_at DESC\n  LIMIT 1\n)\nAND '{{ $json.alert_triggered }}' = 'true'\nRETURNING incident_id, etat_siem, first_alert_at, updated_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        96
      ],
      "id": "c995db44-3753-4cfc-8b9a-04f123c11cd4",
      "name": "DB_UpdateIncident",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iZHEGrelNifD5lLX",
          "name": "Postgres_SOC"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        0
      ],
      "id": "f27e997a-f899-4e48-b5e4-f7c916aa87e4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        96
      ],
      "id": "27033111-8293-4924-8064-13351cb38bf5",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        288
      ],
      "id": "c3c89afd-afaa-46d8-8a7f-844f2959f212",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "Log_Ingestion": {
      "main": [
        [
          {
            "node": "DB_LoadFSM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_FSM_Detection": {
      "main": [
        [
          {
            "node": "DB_UpdateIncident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IIF_AlerteRequise": {
      "main": [
        [
          {
            "node": "HTTP_ForwardToORCH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp_PasDAlerte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_LoadFSM": {
      "main": [
        [
          {
            "node": "Code_FSM_Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveFSM": {
      "main": [
        [
          {
            "node": "IIF_AlerteRequise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB_SaveFSM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_UpdateIncident": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_ForwardToORCH": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp_PasDAlerte": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "05c82c03-a05c-4d2b-851e-2e0a9587d603",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e20f16afa1f2ac92a7e3b7a480575dcdbea5aadb4b0260e8293755288b187b4"
  },
  "nodeGroups": [],
  "id": "uxrjj38ue5sfQqmK",
  "tags": []
}
